* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

body {
    background-image: url("../assets/home/14461.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background: #33323d;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 25px;
    z-index: 999;
}

footer {
    background: #33323d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flexcollum {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.flexbtn {
    display: flex;
    justify-content: flex-start;
}

.flexbtn2 {
    display: flex;
    justify-content: flex-end;
}

.amarelo {
    font-family: 'Bangers', cursive;
    color: #5fb4a2;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 2px;
    padding-bottom: 2px;
}

.button {
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    font-size: 32px;
}

.button input {
    background-color: #C663FF;
    border: 4px solid #7A21AD;
    text-align: center;
    color: #F0E926;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

.button :hover {
    background-color: #21AD28;
    border: 4px solid #7A21AD;
    box-shadow: inset 0 0 0 3px;
    transform: skew(-10deg);
}

.informacao--btn3 {
    display: flex;
    align-items: center;
    margin-left: 55%;
}

.informacao--btn3 a {
    color: black;
    background: rgb(167, 165, 165);
    height: 48px;
    width: 200px;
    margin-left: -50px;
    padding-left: 40%;
    padding-top: 10%;
}

.informacao--btn3 :hover {
    background-color: rgb(133, 130, 130);
    box-shadow: 0 5px 0;
}

.informacao--btn4 {
    display: flex;
}

.informacao--btn4 img {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 10px;
}

.informacao--btn4 a {
    color: #fff;
    background: #203a4c;
    height: 34px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.informacao--btn4 a:hover {
    background-color: #54a191;
}

.informacao--btn5 {
    display: flex;
}

.informacao--btn5 a {
    color: #fff;
    background: #203a4c;
    height: 50px;
    width: 80px;
    margin-top: 20px;
    display: flex;
    align-self: center;
    padding: 10px 10px;
}

.informacao--btn5 a:hover {
    background-color: #54a191;
}

.cabecalho ul li {
    float: left;
    display: inline;
    text-align: center;
    line-height: 20px;
    width: 345px;
    text-decoration: none;
}

.cabecalho ul {
    padding: 0;
}

.cabecalho ul ul {
    display: none;
}

.cabecalho ul li:hover>ul {
    display: block;
}

.cabecalho ul li:hover {
    /* background-color: #e9a22fa4; */
    color: #5fb4a2;
}

.menu {
    color: #5fb4a2;
    font-family: 'Bangers', cursive;
    font-size: 25px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.potfolio {
    color: #33323d;
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.informacao--btnvisitar {
    display: flex;
    align-items: center;
    border-radius: 2px;
    border-color: black;
    margin-left: 10px;
}

.informacao--btnvisitar a {
    color: black;
    background: rgb(167, 165, 165);
    height: 38px;
    width: 100px;
    padding: 5%;
}

.informacao--btnvisitar :hover {
    background-color: rgb(133, 130, 130);
    box-shadow: 0 5px 0;
}

a {
    text-decoration: none;
    font-family: 'Bangers', cursive;
}